apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: multitier-app
  labels:
    app: multitier-api
    environment: production
spec:
  type: ClusterIP
  selector:
    app: multitier-api
  ports:
    - name: http
      protocol: TCP
      port: 8888
      targetPort: 8888
