services:
    database:
        image: postgres:16-alpine
        container_name: postgres_db
        ports:
            - "5432:5432"
        volumes:
            - "postgres_db_data:/var/lib/postgresql/data"
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-postgres}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
            POSTGRES_DB: ${POSTGRES_DB:-multi_tier_db}

volumes:
    postgres_db_data:
